*,
*::before,
*::after {
  box-sizing: content-box;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(221, 195, 211);
  font-family: sans-serif;
  padding: 2rem;
}

p { 
  margin: 0;
}

section, main {
  max-width: 960px;
  margin:  0 auto;
}

@keyframes scale-anim {
  from {transform: scale(1)}
  to {transform: scale(1.5)}
} 

/* https://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
h1 {
  font-size: 3rem;
  animation: scale-anim 1s both ease-in-out infinite alternate;
  animation-iteration-count: 4;
  transform-origin: left;
}


p {
  line-height: 1.5;
}

section > h2 {
  margin-top: 70px;
}

.img-center {
  text-align: center;
  margin: 1rem 0;
}

.img-center > img {
  padding: 5px;
  border: 1px solid black;
}

ol li {
  margin-bottom: .5rem;
}

.flexbox {
  display: flex;
  gap: 1rem;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.img-wrapper img {
  width: 100%;
}