*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: rgb(221, 195, 211);
  font-family: sans-serif;
}
section > h2 {
  margin-top: 70px;
}

.img-center {
  text-align: center;
}

.img-center > img {
  width: 70%;
  padding: 5px;
  border: 1px solid black;
}